/* extra-extra-large-device  */
@media screen and (max-width:1400px) {
    
}
/* extra-large-device */
@media screen and (max-width:1200px) {
    
}
/* large-deivce */
@media screen and (max-width:992px) {
    .banner-text h3 {
        font-size: 45px;
        line-height: 60px;
    }
}
/* medium-device */
@media screen and (max-width:768px) {
    .main-menu{
        display: none;
    }
    .toggle-menu{
        display: block;
    }
}
/* small-device */
@media screen and (max-width:576px) {
    .logo h2{
        font-size: 35px;
    }
    .banner-text h3 {
        font-size: 34px;
        line-height: 46px;
    }
    
}