/* extra-extra-large-device  */
@media screen and (max-width:1400px) {
    
}
/* extra-large-device */
@media screen and (max-width:1200px) {
    .feature-container {
        flex-wrap: wrap;
    }
    .feature-text{
        width: 100%;
        text-align: center;
    }
}
/* large-deivce */
@media screen and (max-width:992px) {
    .banner-text h3 {
        font-size: 45px;
        line-height: 60px;
    }
    
}
/* medium-device */
@media screen and (max-width:768px) {
    .main-menu{
        display: none;
    }
    .toggle-menu{
        display: block;
    }
}
/* small-device */
@media screen and (max-width:576px) {
    .logo h2{
        font-size: 35px;
    }
    .banner-text h3 {
        font-size: 34px;
        line-height: 46px;
    }
    .feature-img{
        grid-template-columns: 1fr;
    }
    .feature-text{
        text-align: center;
    }
    
}