/* imported-google-font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
  font-family: 'Work Sans', sans-serif; 
*/

:root {
    --bg-color: #FF900E1A;
    --primary-color: #FF900E;
    --black: #131313;
    --gray: #727272;
    --footer-color: #424242;
    /* menu item text color  */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* universal-container-style */
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

/* universal-container-style */
/* universal-paragraph-style */
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray);
}

/* universal-paragraph-style */
/* banner-section-style-start */
.banner-section {
    background-color: var(--bg-color);
    /* width: 100vw; */
    min-height: 110vh;
}

nav {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: var(--black);
    font-weight: 700;
    font-size: 45px;
}

.main-menu {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 35px;
}

.main-menu>li>a,
.sub-menu>li>a {
    text-decoration: none;
    color: var(--footer-color);
    font-weight: 500;
    font-size: 18px;
    transition: 0.2s;
}

.main-menu>li>a:hover {
    color: var(--primary-color);
}

.sub-menu>li>a:hover {
    color: var(--black);
}

/* This section display will block when device size will be 768px or 992px */
.toggle-menu {
    display: none;
    position: relative;
}

.toggle-bar>a {
    color: var(--footer-color);
    font-size: 18px;
}

.toggle-menu>ul {
    list-style: none;
}

.sub-menu {
    position: absolute;
    top: 30px;
    left: -135px;
    list-style: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.253);
    transition: 0.4s;
    transform: scaleY(0);
    transform-origin: top;
}

.toggle-bar:hover .sub-menu {
    transform: scaleY(1);
}

.sub-menu>li {
    padding: 10px 25px;
}

.sub-menu>li>a {
    color: white;
}

/* responsive-menu-style */
/* main-banner-section */
.banner-content {
    width: 100%;
    padding: 90px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text {
    width: 100%;
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.banner-text h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--black);
}

.banner-text p {
    margin: 35px 0;
}

.banner-btn,
.btn {
    padding: 15px 30px;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    transition: 0.3s;
}

.banner-btn:hover,
.btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
}

.banner-img {
    width: 100%;
}

.banner-img img {
    width: 100%;
}

/* banner-section-sytle-end */
/* team-section-style-start */
.team-section {
    padding: 130px 0;
}

.team-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 70px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.team img {
    width: 100%;
    transition: 0.2s;
}

.team img:hover {
    transform: scale(1.1);
}

.team-text {
    width: 100%;
    max-width: 540px;
}

.team-text h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black);
}

.gray {
    color: var(--gray);
    font-weight: 500;
}

.primary {
    color: var(--primary-color);
}

.team-text p {
    margin: 25px 0;
}

/* team-section-end */
/* feature-sections-style-start */
.feature-section {
    padding-bottom: 130px;
}

.feature-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    align-items: center;
    column-gap: 150px;
}

.feature-text h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--black);
    padding-left: 20px;
    border-left: 5px solid var(--primary-color);
}

.feature-text p {
    margin: 25px 0;
}

.features {
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px #00000029;
    margin: 20px 0;
    border-radius: 5px;
    transition: 0.3s;
}

.features:hover {
    background-color: var(--primary-color);
}
.feature-text{
    width: 50%;
}
.features h4 {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
}

.features p {
    margin-top: 10px;
}

.feature-img {
    width: 50%;
    max-width: auto;
    position: relative;
}

.feature-img img {
    width: 708px;
    max-width: 100%;
}

.feature-button {
    position: absolute;
    bottom: -80px;
    left: -100px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.feature-button h3 {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;

}

.feature-button p {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* feature-sections-style-end */

/* facts-section-style-start */
.facts-section {
    padding-bottom: 180px;
}

.facts-header {
    margin-bottom: 100px;
    width: 100%;
    max-width: 542px;
}

.facts-header h2 {
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

.facts-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.facts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 240px;
    height: 240px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
}

.facts:hover {
    border: none;
    box-shadow: 0px 0px 50px 0px #00000025;
}

.facts-icon {
    width: 100%;
}

.facts h4 {
    font-weight: 600;
    font-size: 45px;
    margin: 10px 0px 5px 0px;
    color: var(--footer-color);
}

.facts p {
    font-weight: 600;
    font-size: 20px;
    color: var(--gray);

}

/* facts-section-style-end */
/* sponsors-section-style-start */
.sponsors-section {
    padding-bottom: 130px;
}

.sponsors-header h2 {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

.sponsors-header p {
    margin-top: 25px;
    margin-bottom: 50px;
}

.sponsors-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.sponsors img {
    width: 100%;
    filter: grayscale(100%);
}

/* sponsors-section-style-end */
/* footer-section-style-start */
.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: var(--bg-color);
    text-align: center;

}

.footer-container p {
    color: var(--footer-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 30px 0;
}